<mat-card>
    <mat-card-title> Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <!-- 
                ngModel referencia à Model do componente (produtos nesse caso) 
                Nisso, o que for inserido será instanciado no objeto dentro do product-create.component.ts
            -->
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço R$" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelProduct()" color="warning">
        Cancelar
    </button>
</mat-card>


